/*NORMALIZACION*/
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*IMPORTACION DE ROBOTO*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*IMPORTACION OPEN SANS*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-color: #F2ECCE;
    /*FOOTER AL FONDO*/
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*---->continua en footer colocando margin top:auto*/
}
header{
    background-color:#F27B35;
}

/*BARRA SUPERIOR HAMBURGUESA*/

.navegacionHamburguesa{
    display: none;
}


/*UTILIZO GRID PARA HACER EL CONTENIDO DE LA BARRA DE NAVEGACION RESPONSIVE*/

.navegacionFlexbox ul{
    display:grid;
    grid-template-columns: 20% 16% 16% 16% 16% 16%  ;
    align-items: center;
}
.navegacionFlexbox ul li{
    display: inline;
    padding: 2rem;
}
.navegacionFlexbox ul li a{
    text-decoration: none;
    font-family: "Rooto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #262626;
}

/*PIE DE PAGINA*/

footer{
    width: 100%;
    margin-top: auto;
    background-color:#F27B35;
}

.menuNavegacionFooter ul{
    list-style: none;
    padding-top: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.menuNavegacionFooter li a{
    text-decoration: none;
    font-family: "Rooto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #262626;
   
}
#imgIg{
    width: 2.5rem;
    height: 2.5rem;
}
#imgFb{
    width: 2.5rem;
    height: 2.5rem;
}
#imgWsp{
    width: 2.5rem;
    height: 2.5rem;
}


/*H1 GRAL*/
.hCentrados{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
/*H2 GRAL*/
h2{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}


/*INICIO DE LA WEB*/
.cuerpoInicio{
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
}
.hInicio{
    padding: 10%;
}
.hInicio h1{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 1rem;
}
.hInicio h2{
    font-weight: 1000;
    padding: 1rem;
    font-size: 1.5rem;

}
.hInicio h3{    
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    padding: 1rem;
}
#imgSand{
    padding: 10%;
    height: 37rem;
    border: #262626;
}


/*MENU*/
.triplesComunes{
    display: grid;
    grid-template-columns: 100%;
}
.triplesEspeciales{
    display: grid;
    grid-template-columns: 100%;
}
.triplesMenu{
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.triplesMenu table{
    overflow-x: auto;
    margin-bottom: 10%;
}
.triplesMenu table tr td{
    background-color: #F2ECCE;
    overflow-x: auto;
    margin-left: 5%;
    margin-bottom: 5%;
    padding: .375rem;
    font-family: "Open Sans";
}


/*RESEÑAS*/
.usuarioResenia{
    width: 50%;
    margin: 1.25rem auto;
    padding: .9375rem;
}
.reseniasFecha{
    display: flex;
    font-family: "Roboto";
    font-style: italic;
}
.reseniasTexto{
    display: flex;
    font-family: "Open Sans";
    padding: 1rem;
}
.imagenTextoResenia{
    display: inline-flex;
}
.imagenTextoResenia img{
    margin-right: 1rem;
}
.imagenSobreH2{
    display: none;
}




/*UBICACION Y HORARIOS*/
.contenidoMenuUbicacion {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}
.ubicacionMapa{
    margin-left: 10%;
}
.horariosAtencion{
    margin-right: 20%;
}
.hUbicacion{
    padding-top: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.horarioTitulo{
    padding-top: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.horariosAtencion table tr td{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background-color: #F2ECCE;
}

/*ACERCA DE NOSOTROS*/
.acercaDeNosotrosSec{
    margin : 0rem 4rem 4rem 4rem;
}
.acercaDeNosotrosTexto{
    display: flex;
    font-family: "Open Sans";
    text-align: justify;
}
.serviciosTexto{
    display: grid;
    grid-template-columns: 100%;
}
.serviciosOfrecemos{
    margin: 2rem;
}

/*MEDIA*/

@media (max-width: 1024px){
    .navegacionFlexbox{
        display: none;
    }
    .navegacionHamburguesa{
        display :block;
    }
    .navegacionHamburguesa ul{
        list-style: none;
        padding-top: 2rem;
        
    }
    .navegacionHamburguesa ul li a{
        text-decoration: none;
        font-family: "Rooto", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #262626;
    }
    /*RESPONSIVE INICIO*/
    #imgSand{
        height: 30rem;
    }
    /*RESPONSIVE MENÚ*/
    .triplesMenu table tr{
        font-size: 13px;
    }


}
@media (max-width: 768px){

    /*RESPONSIVE INICIO*/
    .cuerpoInicio{
        display: block;
    }
    .hInicio{
        display: grid;
        grid-template-areas: 100%;
        
    }
    .hImagen{
        display: grid;
        grid-template-areas: 100%;
        place-items: center;
    }
    #imgSand{
        height: 30rem;
    }
    /*RESPONSIVE UBICACION*/
    .contenidoMenuUbicacion{
        display: block;
    }
    .ubicacionMapa{
        display: grid;
        grid-template-areas: 100%;
        margin-right: 10%;
        
    }
    .horariosAtencion{
        display: grid;
        grid-template-areas: 100%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        
    }
    #mapaUbi{
       height: 30rem;
    }
    /*RESEÑAS RESPONSIVE*/
    .imagenTextoResenia{
        display: none;
    }
    .imagenSobreH2{
        display: block;
        text-align: center;
    }
    .imagenSobreH2 img{
        margin-bottom: 1rem;
    }
    .reseniasTexto{
        text-align: center;
    }
    .reseniasFecha{
       justify-content: center;
    }

    /*ACERCA DE NOSOTROS RESPONSIVE*/
    .acercaDeNosotrosTexto{
        font-size: 12px;
    }
    .serviciosTexto p{
        font-size: 12px;
    }
    .serviciosTexto ol li{
        font-size: 11px;
    }
    .serviciosTexto ol li p{
        font-size: 11px;
    }

}
@media (max-width: 425px){
    /*RESPONSIVE FOOTER IMG*/
    #imgWsp{
        height: 30px;
        width: 30px;
    }
    #imgIg{
        height: 30px;
        width: 30px;
    }
    #imgFb{
        height: 30px;
        width: 30px;
    }
    /*RESPONSIVE INICIO*/
    .hImagen{
        margin-bottom: 20%;
    }
    #imgSand{
        height: 20rem;
    }
    /*RESPONSIVE UBICACION*/
    #mapaUbi{
        height: 15rem;
    }
 
}

